.hero {
    &__text {
        padding: 8rem 2rem 2rem;
    }

    &__inner {
        padding: 5rem 2rem;
    }

    &__title {
        color: #fff;
        font-size: 100px;
    }

    &__subtitle {
        color: #fff;
        font-size: 40px;
    }

    &__blue {
        background-color:#003E5D;
    }
}