.workfloor {
    display: flex;
    flex-direction: column;
    padding: 8rem 2rem;

    &__subtitle {
        font-size: 1.125rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    &__title {
        font-size: 3.1875rem;
        margin: 0!important;
    }

    &__button {
        margin-top: 1rem;
    }
}