[class^="grid"] {
    display: grid;
}

.grid-container {
    grid-template-columns: 0 1fr 0;
    grid-template-areas: ". container .";

    @include media-breakpoint-up(sm) {
        grid-template-columns: 4rem 1fr 4rem;
    }
}

.container {
    grid-area: container;
    position: relative;

    &__inner {
        flex-basis: 100%;
        flex-grow: 0;

        @include media-breakpoint-up(sm) {
            flex-basis: 50%;
        }

        &-padding {
            padding: 4rem 6.25rem 2rem;

            @include media-breakpoint-up(sm) {
                padding: 2rem 6.25rem 2rem;
            }
        }
    }

    &_111_inner {
        width: 100%;

        @include media-breakpoint-up(sm) {
            min-width: 50%;            
            max-width: 50%;
            width: 50%;
        }

        &-padding {
            padding: 4rem 6.25rem 2rem;

            @include media-breakpoint-up(sm) {
                padding: 2rem 6.25rem 2rem;
            }
        }
    }
}

