.header {
    &__top {
        background-color: #FAFAFA;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 5.625rem;

        @include media-breakpoint-down('md') {
            justify-content: center!important;
            height: 4rem;        
        }

        &-button {
            border: 1px solid #428CC4;
            border-radius: 50px;
            display: inline-flex;
            align-items: center;
            justify-content: space-evenly;

            height: 3.625rem;
            width: 16.125rem;

            margin-right: 140px;
            text-decoration: none;

            @include media-breakpoint-down('md') {
                height: 2rem;
                margin-right: 0;
            }

            &-icon {
                height: 1.75rem;
            }

            &-label {
                color: #428CC4;
                font-size: 1.125rem;
            }
        }
    }

    &__nav {
       display: flex;
       padding: 1rem 0 2rem 0;         

        &-logo {
            height: 6.125rem;
            width: auto;
        }

        &-menu {
            display: none;
            list-style: none;

            @include media-breakpoint-up('md') {
                display: flex!important;
            }

            &-item {
                color: $primary;
                font-weight: bold;
                font-size: 1.25rem;    
                margin-right: 1rem;
            }

            &-link {
                text-decoration: none;

                &:hover {
                    color: $secundary!important;
                }
            }
        }

        &-search {
            outline: 0;
            border: 0 0 2px 0 solid #D0D0D0;

            &-input {
                border: none;

                @include media-breakpoint-down('md') {
                    display: none;
                }
            }       

            &-button {
                border: none;
                background: none;
            }

            &-icon {
                height: 1.375rem;
                width: auto;
            }
        }

        &-hamburger {
            display: block;
            margin-right: .5rem;

            @include media-breakpoint-up('md') {
                display: none!important;
            }

            &-inner {
                fill: #fff;
                height: 2rem;
                width: auto;
            }
        }
    }
}