.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.block {
    display: block;
}

.align-items-center {
    align-items: center;
}

.align-self-end {
    align-self: end;
}

.text-white {
    color: #fff;
}

.text-primary {
    color: $primary;
}

.text-secundary {
    color: $secundary;
}

.text-grey {
    color: $grey;
}

.relative {
    position: relative!important;
}

.absolute {
    position: absolute!important;
}