.btn {
    background-color: transparent;
    border: 1px solid #428CC4;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;

    height: 3.625rem;
    width: 16.125rem;

    text-decoration: none;

    &-icon {
        height: 1.75rem;
    }

    &-label {
        color: #428CC4;
        font-size: 1.125rem;
    }

    &--secundary {
        border: 1px solid #D3004F !important;
    }
}